<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @coupon.user_id %>
</p>

<p>
  <b>List:</b>
  <%= @coupon.list_id %>
</p>

<p>
  <b>Merge tag:</b>
  <%= @coupon.merge_tag %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
