<!DOCTYPE html>
<html>
<head>
    <title>Mailchimp Coupons</title>

<%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>
  
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Mailchimp Coupons", "/", :class => "brand" %>
        <ul class="nav">
          
        </ul>
        <div class="pull-right">
        <% if(session[:user])%>
  				<li><%=link_to "Logout", logout_path, class: "btn"%></li>
  			<% else %>
  				<li><%=link_to "Login", "/auth/mailchimp", class: "btn"%></li>
  			<% end %>
  			</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none;" class="modal hide fade in confirmable-modal">
      <div class="modal-header">
        <h3 class="confirmable-header">Are you sure?</h3>
      </div>
      <div class="modal-body confirmable-body">
        <p>This is a default message.</p>
      </div>
      <div class="modal-footer">
        <a class="btn primary confirmable-confirmation"  href="#">Confirm</a>
        <a class="btn secondary confirmable-cancellation" href="#">Cancel</a>
      </div>
    </div>
</body>
</html>


